div
{
    width: 300px;
    height: 200px;
    background-color: deepskyblue;
    color: white;
}

.head>h1
{
    color: red;
    background-color: violet;
    
    font-size: 50px;
    
}


p::first-line{
    color: yellow;
}

p::first-letter{
    color: red;
    font-size: 4rem;
}

h1:hover{
    background-color: white;
    color: darkslategray;
}

a{
    font-size: 64px;
}

a:link{
   color: darkviolet;
}

a.visited{
   color: dodgerblue;
}

a.active{
    color: firebrick;
}

:root{
    font-size: 125%;
  
}

p{
    font-size: 2rem;
}