* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 10px;
}

/* Style the form icons */
.icon {
  
  padding: 25px 10px 25px 10px;
  background: white;
  color: lightgreen;
  width: 60px;
  
  border:1px solid lightgreen;
  border-top-left-radius: 5px;
  border-bottom-left-radius:5px ;
  border-right: white;
}

/* Style the input fields */
.input-field {
 border:1px solid lightgreen;
 width: 377.95275591px;
 height: 75.590551181px;
 border-left: white;
 border-top-right-radius: 5px;
  border-bottom-right-radius:5px ;
  text-align:left;
  font-size: large;
}
.input-field:focus
{
    outline: none;
}
