@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,800;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-size: 62.5%;
}
body{
    font-family: "Poppins",sans-serif;
}
a{
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: none;
}
h1,h2,p{
    margin: 1.6rem 0;
}
h1
{
    font-weight: 800;
    font-size: 3.6rem;
   
}

h2
{
font-weight: 800;
font-size: 2.4rem;

}
 
p{
    font-weight: 400;
    font-size: 1.8rem;

}

.img{
    width: 100%;
    height: 80%;
    background-color: red;
}

.row
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
   

}
.logo h1{
    font-size: 3.2rem;
    color: #4ca750;
    margin: 0;
}
section{
    padding: 100px 0;
}

header
{
    height: 200vh;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}



nav
{
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
    
}
nav ul {
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-left: 2.5rem;
   
}

nav ul li a {
    text-decoration: none;
    color: white;
    
}
nav ul li :hover{
    color: #4caf50;
    transition: 0.5s ease-in-out;
}
i{
   color: white;
   visibility: hidden;
}
.header-content{
    width: 50%;
    position: relative;
    top:16%;
    left: 8%;
    
    color: whitesmoke;
}
form{
    margin:2.4rem 0;
}
input{
    font-size: 1.8rem;
}
input[type=text],input[type=email]
{
    width: 50%;
    padding: 12px 20px;
    margin:1.2rem 0;
    display: block;
    border: 1px solid #ccc;
}



input[type=submit]
{
    width:50%;
    background-color: #4caf50;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

input::placeholder{
    font-size: 1.3rem;
    color:#ccc
}
.about-left,.about-middle,.about-right
{
    flex-basis: 30%;
    
    padding: 1.6rem;
    
}
.btn
{
    display: inline-block;
    background-color: #4caf50;
    color: #fff;
    padding: 8px 16px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}
.about2
{
    background-color: slateblue;
}

.about2-left
{
    
    flex-basis: 50%;
  
    margin-bottom: 20px;
}
.about2-right
{
    flex-basis: 40%;
}
.about2-right .card
{
    width: 60%;
   padding: 3rem 5rem;
   color: #2222;
   background-color: #dcdcdc;
   margin: 1.6px;
   text-align: center;
}
.card i{
    background-color: #4caf50;
    height: 60px;
}
.process .row
{
 justify-content: center;
}
.process-content
{
    margin-top: 100px;
}
.progress-bar{
    width: 80%;
    height: 2px;
    background-color: #222;
    margin: auto;
    position: relative;
}
.progress-bar .c1 ,.progress-bar .c2,.progress-bar .c3
{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #222;
    position: absolute;
    top:-8px;
}
.progress-bar .c1
{
    left: 50px;
}
.progress-bar .c2{
    left: 50%;
}
.progress-bar .c3{
    right: 50px;
}
.box1,.box2,.box3{
    padding: 1.8rem;
}
.process-content .box2{
    text-align: center;
}
.process-content h2
{
    color: #4caf50;
}
.process-content .box3
{
   text-align: right;
}
.testimony
{
background-color: #222;
color: whitesmoke;
}

.testimony .test{
    background-color: #505050;
    height: 450px;
    padding: 4rem 8rem;
     margin: 0 1rem;
}
.image
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    margin: 10px;
}
.test-content{
    
    width:80%;
    height: 100px;
    margin: 10px;
}
.contact .row{
   
    justify-content: center;
}
.contact form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact textarea{
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    font-size: 1.3rem;
    resize: none;
    color: #ccc;
    margin: 1.2rem 0;
    font-family: "Poppins",sans-serif;
}
footer {
    height: 80px;
    background-color: #222;
    color: #fff;
    line-height: 80px;
    text-align: center;
}

@media only screen and (max-width:850px)
{nav{
    flex-direction: column;
    position: relative;
}
i{
    
    visibility: visible;
    position:absolute;
    top: 18px;
    left: 32px;
    margin: 0 0 0 70%;
}
    nav ul {
        background: white;
        display: none;
    }
    .showmenu{
        display: block;
    }
    nav ul li{
        display: block;
        padding: 2% 0;
    }
    nav ul li a{
        color: #222;
    }
    .row{
        flex-direction: column;
    }
    .logo{
        height: 10%;
        width: 30%;
    }
.header-content{
    width: 100%;
    top:16%;
    left:0;
    text-align: center;
    padding: 0 8px;
    
}

input[type=text],input[type=email],input[type=submit]
{
    width: 80%;
    margin: 1.2rem auto;
}

.about-left,.about-middle,.about-right
{
   margin-bottom: 25px;

    
}
.about2-right .card{
    width: 100%;
    padding: 1rem 3.5rem;
    text-align: center;
}
.process h1
{
    text-align: center;
}
.progress-bar{
    display: none;
}
.box1,.box2{
    text-align: center;
}
.process-content .box3
{
    text-align: center;
}
.testimony .test{
    padding: 4rem 2rem;
    margin: 1.2rem 0;
    
}
.contact input textarea{
    width: 100%;
}
}
@media only screen and(max-width:360px)
{

     .header-content{
         width: 80%;
     }
      .about2-right{
          flex-basis: 60%;
      }
     .about2-right .card
     {
         width: 320px;
       margin: auto;
        text-align: center  ;
        box-sizing: content-box;
     }
    .testimony .test{
        padding: 4rem 0;
    }
     .image{
         display: none;
     }
}