*{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 1080px;
}
.mainpage{
width: 68%;
margin: 0 0 0 16%;

}

.title{
    background-color: red;
    border-bottom: 1px solid black;
    min-height: 108px;
}

.design{
    background-color: silver;
    border-bottom: 1px solid black;
    min-height: 432px;
}

.description{
    background-color: blue;
    border-bottom: 1px solid black;
    min-height: 432px;
}

.footer{
    background-color: pink;
    border-bottom: 1px solid black;
    min-height: 108px;
}