.b{
  background-image: url("Intersection 2.png") ;
  background-repeat: no-repeat;
}   
.btn {
  background: #32ff6a;
  background-image: -webkit-linear-gradient(top, green, 00000);
  background-image: -moz-linear-gradient(top, green, 00000);
  background-image: -ms-linear-gradient(top, green, 00000);
  background-image: -o-linear-gradient(top, green, 00000);
  background-image: linear-gradient(to bottom, green, 00000);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 29px;
  padding: 9px 40px 10px 39px;
  text-decoration: none;
}

.card{
  margin: 150px 130px;
  border-radius: 15px;
}

.card-header{
  border: none;
 background: white;
}

.card-footer{
  border: none;
  background-color: white;
  text-align: center;
}

img{
  margin-top: 150px;
  margin-left: 100px;
}
h1{
  padding-left: 200px;
  font-family: "Mitr",cursive;
  line-height: 25px;
  color:#32ff6a;
  letter-spacing: 10px;
  font-size: 64px;
}
@font-face {
  font-family: "Mitr";
  src: url(/Mitr/Mitr-Bold.ttf);
  font-family: "Roboto";
  src: url(/Roboto/Roboto-Thin.ttf);
}

.txt{
    
  width: 458px;
  height: 46px;
  border-color: lightblue;

}
@media screen and (max-width: 600px) {
  .col-lg-6{
    width: 50%;
  }

  .col-lg-6 .card{
      width: 50%;
    }
}