*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* ul li{
    list-style-type: none;
}

ul li a
{
    background: #222;
    color: #a15013;
    text-decoration: none;
    letter-spacing: 2px;
    display: block;
    padding: 10px;
    text-transform: capitalize;
} */


.b1,.b2,.b3{
    width: 200px;
    height: 200px;
    color:white;
}

.b1
{
    background: red;
    padding: 20px;
    box-sizing: border-box;
    /* display: none; Removes the tagcontent */
}

.b2
{
    background: blue;
    opacity: 0.5;
}

.b3{
    background: green;
    padding: 20px;
    visibility: hidden;
}

/* Here Visiblility and Opacity can hidden but it has the same space of the content */