h1
{
    color: aqua;
    background: darkcyan;
    font-size: 3rem;
}

.one
{
    background: darkgray;
    color: darkgreen;
    display: block;
}

.two
{
    background: cornsilk;
    color: cadetblue;
    display: inline;
}