*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: black;
}
.grid{
    display: grid;
    grid-template-columns: 70% 30%;
    height: 500px;
}

.grid-left{
    text-align: center;
    
    padding-top: 250px;
color: white;

}
.grid-left h6{
    margin-left: 30px;
}
.img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    margin-left: 480px;
}
.grid-right{
    display: flex;
    flex-direction: column;
  padding-bottom: 10px;
  justify-content: space-around;
  padding-left: 150px;
}

.card{
    width: 150px;
    height: 100px;
    border: 1px solid black;
    border-radius: 6px;
    margin-left: 25px;
    background-color: silver;
    color: white;
    padding-top: 10px;
} 

.card-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-left: 50px;
}

.card h6{
    margin-left: 50px;
}
.footer
{
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.deck-1{
    display: flex;
}
.deck-2{
    display: flex;
}
.deck-3{
    display: flex;
}
.mini-circle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: silver;
    margin-right: 5px;
}

.traingle{
    width: 0; 
height: 0; 
border-left: 5px solid transparent;
border-right: 5px solid transparent;

border-bottom: 10px solid white;
padding-top: 5px;
margin-left: 5px;
}

@media only screen and (max-width:1024px){
    .img{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: white;
        text-align: center;
        margin-left: 330px;
    } 
    .grid-right{
        display: flex;
        flex-direction: column;
      padding-bottom: 10px;
      justify-content: space-around;
      padding-left: 50px;
    }
} 
@media only screen and (max-width:768px) {
    .grid{
        display: grid;
        grid-template-columns: 60% 40%;
        height: 500px;

    }
    
    .grid-left{
        text-align: center;
        
        padding-top: 200px;
    
    }
    .img{
        
        margin-left: 200px;
    }

    .grid-left h6{
        margin-left: 10px;
    }
    .grid-right{
        display: flex;
        flex-direction: column;
      padding-top: 50px;
     
      padding-left: 0;
    }
    
    .card{
        width: 150px;
        height: 100px;
        border: 1px solid black;
        border-radius: 6px;
        text-align: center;
        margin-bottom:20px ;
    } 
    .card h6{
        margin-left: 0;
    }
    .deck-1 {
        visibility: hidden;
    }

    .deck-3 {
        visibility: hidden;
    }

    
.footer
{
    
    padding-top: 100px;
}
}


@media only screen and (max-width:360px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        height: 500px;

    }
    
    .grid-left{
        text-align: center;
        
        padding-top: 100px;
    
    }
    .img{
        
        margin-left: 140px;
    }
    .grid-left h6{
       
    }
    .grid-right{
        display: flex;
        flex-direction: column;
      padding-top: 50px;
      padding-left: 80px;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    
    .card{
        width: 150px;
        height: 100px;
        border: 1px solid black;
        border-radius: 6px;
        text-align: center;
        
    } 

    .footer{
        padding-top: 300px;
        width: 350px;
    }
}